$online: lightgreen;
$offline: lightblue;
$result-list-height: 54px;
$result-inner-height: 48px;

body {
  background-color: azure;
}

.status-tab {
  background-color: lightgray;
  border-style: solid;
  border-color: lightskyblue;
}

.status-tab-selected {
  background-color: darkgray;
}

.results {

  .result-list {
    height: $result-list-height;
    margin: 2px 0px;

    .online {
      background-color: $online;
    }

    .offline {
      background-color: $offline;
    }

    .logo {
      margin-top: ($result-list-height - $result-inner-height) / 2;
    }

    .vertical-center {
      margin: 0 auto;
    }

    .display_name {
      line-height: $result-inner-height;
      a {
        text-decoration: none;
      }
    }

    .game {
      line-height: $result-inner-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }
  }



  .online {
    background-color: $online;
  }

  .offline {
    background-color: $offline;
  }

}
